body {
    font-family: Arial, sans-serif;
    background-color: #CCCCFF;
}

h1 {
    text-align: center;
}

.title-bg {
    color: ;
    padding: 10px;
    margin-bottom: 20px;
}


.input-section {
    margin-bottom: 20px;
    width: 95%;
}

.label-section {
    font-size: 0.5cm;
}

.div-section {
    height: 35px;
    padding: 10px 15px;
    margin: 20px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: 30px;
    border-radius: 10px;
    resize: vertical;
}

.preview {
    width: 15cm;
    height: 15cm;
}

.video-preview {
    width: 15cm;
    height: auto;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
    width: 100%;
    padding: 5px;
}

.button-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-section button {
    padding: 10px 20px;
    font-size: 16px;
}

.data-container {
    max-height: 300px;
    /* Adjust the height as needed */
}

.card {
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    /* background-image: url("background.jpeg"); */
    /* Replace with the path to yourimage */
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    background-color: #FFA384;
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 6px;
}

.card-title {
    margin: 0;
}

.card-body {
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;
    color: #FFFFFF;
}

.input-data {
    flex: 1;
    margin-right: 10px;
    color: #000000;
}

.preview-data {
    flex: 1;
    margin-left: 10px;
}
